<div class="container">
  <div class="jumbotron">
    <h2>{{t "home.title"}}</h2>
    <p>{{t "home.description"}}</p>
      <a class="btn btn-lg btn-primary" href="#">More &raquo;</a>
    </p>
  </div>
</div>