<div class='alert alert-{{cssMessageType}}'>
	<button type='button' class='close' data-dismiss='alert'>&times;</button>
	{{#each messages}}
    {{#if isHtml}}
      {{html "message"}}
    {{else}}
		  <strong>{{message}}</strong><br />
	 {{/if}}
  {{/each}}
</div>