<i class="fa fa-desktop"></i> fa-desktop
<h1>{{t "references.title"}}</h1>
{{! Best practice: do not put Capitalize and camelcase in css classes.}}
<div id="references-container" class='list-group'></div>